<header class="header background background--red border-bottom border-bottom--yellow">
  <div class="container">
      <div class="header__top row jcsb">
        <div class="logo row">
          <a href=""><img alt="" src="assets/images/logo.png"></a>
          <div class="logo__tagline">Running Club</div>
        </div>
        <ul class="soci row">
          <li class="soci__item"><a href=""><img src="assets/images/icons/facebook.png" alt=""></a></li>
          <li class="soci__item"><a href=""><img src="assets/images/icons/twitter.png" alt=""></a></li>
          <li class="soci__item"><a href=""><img src="assets/images/icons/google.png" alt=""></a></li>
          <li class="soci__item"><a href=""><img src="assets/images/icons/pinterest.png" alt=""></a></li>
          <li class="soci__item"><a href=""><img src="assets/images/icons/skype.png" alt=""></a></li>                    
        </ul>
      </div>      
  </div>
  <div class="header__foot background background--yellow">
    <nav class="container">
      <ul class="main-menu row">
        <li class="main-menu__item"><a href="">Home</a></li>
        <li class="main-menu__item">
          <a href="">About Us</a>
          <div class="sub-menu__wrapper">
            <ul class="sub-menu">
              <li class="sub-menu__item"><a href="">About Club</a></li>
              <li class="sub-menu__item"><a href="">Race Calendar</a></li>
              <li class="sub-menu__item"><a href="">Championship</a></li>
              <li class="sub-menu__item"><a href="">Club info</a></li>
              <li class="sub-menu__item"><a href="">Gallery</a></li>
              <li class="sub-menu__item"><a href="">Membership</a></li>
            </ul>
          </div>          
        </li>
        <li class="main-menu__item"><a href="">Gallery</a></li>
        <li class="main-menu__item"><a href="">Blog</a></li>
        <li class="main-menu__item"><a href="">Contact us</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="container content">
  <carousel 
    [loop]="true"
    [cellsToShow]="1"
    [height]="516"
    [autoplay]="true">
    <div class="slide carousel-cell">
      <img alt="" src="assets/images/slider/Layer-32.png">
      <div class="slide-info border-top border-top--brown border-bottom border-bottom--dark-brown">
        <div class="slide-info__text row background background--brown">
          <div class="slide-info__title">Keeping fit and having fun</div>
          <p>Lorem ipsum dolor sit amet consectetuer adipiscin elit Praesen</p>
        </div>
        <div class="slide-info__button background background--dark-brown">
          <button class="rm-button">Read More</button>
        </div>
      </div>
    </div>
    <div class="slide carousel-cell">
      <img alt="" src="assets/images/slider/Layer-26.png">
      <div class="slide-info border-top border-top--brown border-bottom border-bottom--dark-brown">
        <div class="slide-info__text row background background--brown">
          <div class="slide-info__title">Keeping fit and having fun</div>
          <p>Lorem ipsum dolor sit amet consectetuer adipiscin elit Praesen</p>
        </div>
        <div class="slide-info__button background background--dark-brown">
          <button class="rm-button">Read More</button>
        </div>
      </div>
    </div>
    <div class="slide carousel-cell">
      <img alt="" src="assets/images/slider/Layer-36.png">
      <div class="slide-info border-top border-top--brown border-bottom border-bottom--dark-brown">
        <div class="slide-info__text row background background--brown">
          <div class="slide-info__title">Keeping fit and having fun</div>
          <p>Lorem ipsum dolor sit amet consectetuer adipiscin elit Praesen</p>
        </div>
        <div class="slide-info__button background background--dark-brown">
          <button class="rm-button">Read More</button>
        </div>
      </div>
    </div>
  </carousel>
  <div class="service row ptb">
    <div class="service-box col background border-bottom background--dark-brown border-bottom--dark-brown">
      <div class="service-box__title">CALENDAR</div>
      <p class="text">VESTIBULUM LIBERO NISL PORTA VEL PRAESENT VESTIBULUM MOLESTIE LACUS. AENEAN NONUMMY HENDRERIT MAURIS. PHASELLUS PORTA. FUSCE ST.</p>
      <a href="" class="sr-button sr-button--brown">Read More</a>
    </div>
    <div class="service-box col background border-bottom background--red border-bottom--red">
      <div class="service-box__title">MEMBERSHIP</div>
      <p class="text">PRAESENT VESTIBULUM MOLESTIE LACUS AENEAN NONUMMY HENDRERIT MAURIS. PHASELLU SPORTA. FUSCE SUS.CIPIT VARIUS MI. CUM SOCIIS NATOQ.</p>
      <a href="" class="sr-button sr-button--red">Read More</a>
    </div>
    <div class="service-box col background border-bottom background--yellow border-bottom--yellow">
      <div class="service-box__title">RESULTS</div>
      <p class="text">VESTIBULUM IACULIS LACINIA ESTPROIN DICTUM PRAESENT VESTIBULUM MOLESTIE LACUS. AENEAN NONUMMY HENDRERIT MAURIS. PHASELLUS PORTA. FUSCE SUS.</p>
      <a href="" class="sr-button sr-button--yellow">Read More</a>
    </div>
  </div>
  <div class="news row ptb">
    <div class="news-box col">
      <div class="news-box__title">EVENTS</div>
      <div class="news-box__image">
        <img src="assets/images/news/Layer 34.png" alt="">
      </div>
      <p class="text"><span class="red">VESTIBULUM LIBERO NISL PORTA VEL</span><br>   
        PRAESENT VESTIBULUM MOLESTIE LACUS. AENEAN NONUMMY
        HENDRERIT MAURIS. PHASELLUS PORTA. FUSCE ST VARIUS MI. CUM SOCIIS NATOQUE PENATIBUS ET MAG.</p>
      <a class="nw-button" href="">Read More</a>
    </div>
    <div class="news-box col">
      <div class="news-box__title">WELCOME</div>
      <div class="news-box__image">
        <img src="assets/images/news/Layer 35.png" alt="">
      </div>
      <p class="text"><span class="red">VESTIBULUM LIBERO NISL PORTA VEL</span><br>   
        PRAESENT VESTIBULUM MOLESTIE LACUS. AENEAN NONUMMY
        HENDRERIT MAURIS. PHASELLUS PORTA. FUSCE ST VARIUS MI. CUM SOCIIS NATOQUE PENATIBUS ET MAG.</p>
      <a class="nw-button" href="">Read More</a>
    </div>
    <div class="news-box col">
      <div class="news-box__title">TRAINING</div>
      <div class="news-box__image">
        <img src="assets/images/news/Layer 35 copy.png" alt="">
      </div>
      <p class="text"><span class="red">VESTIBULUM LIBERO NISL PORTA VEL</span><br>   
        PRAESENT VESTIBULUM MOLESTIE LACUS. AENEAN NONUMMY
        HENDRERIT MAURIS. PHASELLUS PORTA. FUSCE ST VARIUS MI. CUM SOCIIS NATOQUE PENATIBUS ET MAG.</p>
      <a class="nw-button" href="">Read More</a>
    </div>
  </div>  
</div>
<footer class="footer background border-top background--brown border-top--brown">
  <div class="container">
    <div class="copyright"><span>RUNNER LITE © 2022 • </span><a class="text" href="">Политика конфиденциальности</a></div>
  </div>
</footer>

<app-header></app-header>
<router-outlet></router-outlet>
